.targ{
background-color: aquamarine;
width: 100px;
text-align: justify;
font-size: 20px;
justify-content: space-around;

}
.pic{
    margin-left: 25px;
    flex: content;
    columns: 100px;
    grid-column: auto;
    justify-content: space-around;
}
.carditem{}
.cardheader{}
.itemname{}
.articulo{}
.footer{}
.vdet{}